a.filter {
    color: #0000FF;
}

a.selected {
    color: #ff00ff;
}

.box {
    width: 400px;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0px 0px 10px #257cff;
    vertical-align: top;
}

input.button {
    width: 140px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #257cff;
    padding: 25px;
}

td.top {
    vertical-align: top;
}

td.bottom {
    vertical-align: bottom;
}

div.header {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid #257cff;
    white-space: nowrap;
}

td.button {
    text-align: center;
}

table.button {
    width: 100%;
    height: 100%;
}

table.main {
    width: 97%;
    height: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table.filter {
    width: 100%;
    border-bottom: 1px solid #257cff;
    border-spacing: 0px;
}

td.header {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px groove;
}

td.checkbox {
    vertical-align: top;
}

td.version {
    vertical-align: top;
    border-right: 1px groove;
}

td.filter {
    text-align: center;
    border-right: 1px solid #257cff;
}

td.filterLast {
    text-align: center;
}

td.files {
    border-style: solid;
    border-width: 2px;
    display: none;
    white-space: nowrap;
}

.td {
    white-space: nowrap;
}

table.noSpacing {
    border-spacing: 0px;
}