<!DOCTYPE html>
<html>
<head>
    <title>Package Promotion</title>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script>
        function show(thing) {
            var el = $("#td_" + thing)[0];
            var cb = $("#" + thing)[0];
            if (cb.checked) {
                el.style.display = "inline"
            } else {
                el.style.display = "none"
            }
        }
    </script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% endwith %}

    {% if status == 200 %}
        {% if selected %}
        <h3>Selected packages for promotion:</h3>
        <ul>
        {% for package in selected %}
            <li>{{ package.name }}</li>
        {% endfor %}
        </ul>
        {% else %}
            <h3>Did not select any packages for promotion.</h3>
        {% endif %}
    {% elif status != None %}
        <h3>Communication with server failed: {{ status }}</h3>
    {% endif %}

{% if major_versions %}
    <table >
    <tr>
        {% for v in major_versions|sort %}
        <td style="border-style: dotted; border-width: 1px">
            <a href="?v={{ v }}">{{ v }}</a>
        </td>
        {% endfor %}
    </tr>
    </table>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <table style="border-spacing: 0px">
            <tr>
                <td></td>
                <td style="border-bottom: solid; border-width: 1px">Version</td>
                <td></td>
            </tr>
            {% for version in form|deb_sort(show_version=show_version) %}
            <tr>
                <td style="vertical-align: top" onclick="show('{{ version.name }}')">{{ version }}</td>
                <td nowrap style="vertical-align: top; border-right: solid; border-width: 1px">{{ version.label }}</td>
                <td style="border-style: solid; border-width: 2px; display: none" id="td_{{ version.name }}">
                    <ol>
                    {% for p in version.list|sort %}
                        <li>{{ p }}</li>
                    {% endfor %}
                    </ol>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Promote Packages">
    </form>
{% endif %}
</body>
</html>